{% extends 'base.html' %}

{% block content %}
  <div id="vk_send_message"></div>
  <script type="text/javascript">
  <!-- TODO use template for group id -->
    const searchParams = new URLSearchParams(window.location.search);
    const token = searchParams.get("token");

    VK.Widgets.AllowMessagesFromCommunity("vk_send_message", {height: 30}, "223616799");
    VK.Observer.subscribe("widgets.allowMessagesFromCommunity.allowed", function f(userId) {
      console.log(userId);
      console.log("allowed");
      fetch("/invite/registerUser", {
        method: "POST",
        body: JSON.stringify({
          token: token,
          userId: userId,
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
    });
    VK.Observer.subscribe("widgets.allowMessagesFromCommunity.denied", function f(userId) {
      console.log(userId);
      console.log("denied");
      fetch("/invite/registerUser", {
        method: "POST",
        body: JSON.stringify({
          token: token,
          userId: userId,
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
    });
  </script>
{% endblock content %}